{% extends "layout.html" %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <div class="h-140 flex items-center justify-center bg-gray-100">
        <div class="text-center">
            <h1 class="text-4xl font-bold text-gray-800">Welcome to Loki Tweet Space</h1>
            <p class="mt-6 text-xl text-gray-800 leading-relaxed">
                Share your thoughts.<br>
                Discover what others are saying.<br>
                Stay connected with the community in real-time.
            </p>
            <a href="tweets" class="mt-6 inline-block px-6 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition">Get Started</a>
        </div>
    </div>
{% endblock content %}
