<nav class="bg-gray-900 text-white px-6 py-4 flex justify-between items-center">
    <a class="text-xl font-bold tracking-wide" href="{% url 'home' %}"
        >LokiDjangoProject</a
    >
    <div>
        <ul class="flex space-x-6">
            <li>
                <a
                    class="hover:text-gray-300 transition"
                    href="{% url 'home' %}"
                    >Home</a
                >
            </li>
            <li>
                <a
                    class="hover:text-gray-300 transition"
                    href="{% url 'about' %}"
                    >About</a
                >
            </li>

            {% if user.is_authenticated %}
            <li>
                <a
                    class="hover:text-gray-300 transition"
                    href="{% url 'todo-app' %}"
                    >Todo Manager</a
                >
            </li>
            {% endif %}

            <li>
                <a
                    class="hover:text-gray-300 transition"
                    {% comment %} href="/reference-app" {% endcomment %}
                    {% comment %} href="{% url 'all_posts' %}" {% endcomment %}
                    href="{% url 'posts:all_posts' %}"
                    >Posts</a
                >
            </li>
            
            {% if user.is_authenticated %}
            <li>
                <a
                    class="hover:text-gray-300 transition"
                    href="{% url 'posts:new-post' %}"
                    >Create Post</a
                >
            </li>
            {% endif %}

            {% if not user.is_authenticated %}

            <li>
                <a
                    class="hover:text-gray-300 transition"
                    href="{% url 'users:register' %}"
                    >Register</a
                >
            </li>
            <li>
                <a
                    class="hover:text-gray-300 transition"
                    href="{% url 'users:login' %}"
                    >Login</a
                >
            </li>

            {% endif %}

            {% if user.is_authenticated %}
            <li>
                <form
                    action="{% url 'users:logout' %}"
                    method="POST"
                >
                {% csrf_token %}
                <button class="hover:text-gray-300 transition hover:cursor-pointer">
                    Logout
                </button>
                </form>
            </li>
            {% endif %}

            <li>
                <a
                    class="hover:text-gray-300 transition"
                    href="/admin"
                    >Admin</a
                >
            </li>
            <li>
                <a
                    class="hover:text-gray-300 transition"
                    href="{% url 'contact' %}"
                    >Contact</a
                >
            </li>
        </ul>
    </div>
</nav>
