@import "tailwindcss";

@media (prefers-color-scheme: dark) {
    :root {
        background-color: #1a202c;
        color: #f7fafc;
    }
}

button,
a :hover {
    cursor: pointer;
}

html,
body,
#root {
    height: 100%;
}
