{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% tailwind_css %}

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% comment %}
        <link rel="stylesheet" href="static/css/styles.css" />
        {% endcomment %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        {% block title %}
        <title>Layout Page</title>
        {% endblock %}
    </head>
    <body class="flex flex-col min-h-screen">
        {% include "partials/navbar.html" %}
        <main class="grow bg-slate-300">
            {% block content %} {% endblock %}
        </main>
    </body>
</html>
